@font-face {
  font-family: $neue-haas-light;
  src: url('https://use.typekit.net/af/99b799/00000000000000007735bb38/30/l?primer=838bd269479109fba1a2544f41d3c707ecb88ba4346ba2c51accc65b3439144d&fvd=n2&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/99b799/00000000000000007735bb38/30/d?primer=838bd269479109fba1a2544f41d3c707ecb88ba4346ba2c51accc65b3439144d&fvd=n2&v=3')
      format('woff'),
    url('https://use.typekit.net/af/99b799/00000000000000007735bb38/30/a?primer=838bd269479109fba1a2544f41d3c707ecb88ba4346ba2c51accc65b3439144d&fvd=n2&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}